<!DOCTYPE html>
<html>
<head>
</head>
<body>

<section data-th-fragment="list(archives)">
    <div class="container-dynamic">
        <ul>
            <li data-th-each="archive : ${archives}">
                <div data-th-replace="/apps/wnews/page/fragments/archive.html::link(${archive})">
                </div>
            </li>
        </ul>
    </div>
</section>

<article data-th-fragment="link(archive)">
    <a data-th-href="|${archive.path}.html|"><span data-th-utext="${archive.title}">[ARCHIVE]</span></a>
</article>

</body>
</html>
