<!DOCTYPE html>
<html>
<head>
</head>
<body>

<section data-th-fragment="list(frontpages)">
    <div class="container-dynamic">
        <th:block data-th-each="frontpage : ${frontpages}">
            <div data-th-replace="/apps/wnews/page/fragments/frontpage.html::thumbnail(${frontpage})">
            </div>
        </th:block>
    </div>

    <nav data-th-replace="/apps/wnews/page/fragments/pagination.html::pagination-nav">
    </nav>

</section>

<article data-th-fragment="thumbnail(frontpage)">
    <a data-th-href="|${frontpage.path}.html|">
        <img class="img-thumbnail img-fluid" data-th-src="|/content/wnews/media/${frontpage.media}|" data-th-alt="|${frontpage.title} image|"/>
    </a>
</article>

<article data-th-fragment="full(frontpage)">
    <h1 data-th-text="${frontpage.title}">[TITLE]</h1>
    <p>
        <a data-th-href="|${frontpage.path}.html|" class="full-page">
            <img data-th-src="|/content/wnews/media/${frontpage.media}|" data-th-alt="|${frontpage.title} image|"/>
        </a>
    </p>
</article>

</body>
</html>
