<!DOCTYPE html>
<html>
<head data-th-fragment="default">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" data-th-content="${page.description}">
    <meta name="author" data-th-content="${page.author}" content="Waranga News Inc.">
    <link rel="icon" href="/assets/wnews/favicon.ico">

    <title data-th-text="${page.title}">[TITLE]</title>

    <!-- Custom styles for this template -->
<!--    <link href="/assets/wp/css/grid.css" rel="stylesheet">-->
    <link href="/assets/wnews/css/wnews.bundle.css" rel="stylesheet">
    <link href="/assets/wnews/css/fonts.css" rel="stylesheet">

    <!-- Sling -->
    <!--<script src="/system/sling.js"></script>-->

    <meta name="google-site-verification" content="0KyoGaEg8FoAK7HtzKQmmqItsZlMTfRKRAf_eulikik" />
</head>
<body>
</body>
</html>