<!DOCTYPE html>
<html>
<head>
</head>
<body>

<nav data-th-fragment="pagination-nav" id="pagination">
    <ul class="pagination justify-content-center" data-th-if="${page.pageCount > 1}">
        <li data-th-class="${page.previous}? 'page-item' : 'page-item disabled'">
            <a class="page-link" data-th-href="|${page.path}.html/${page.currentPage-1}|"><span aria-label="Previous"><span aria-hidden="true">&laquo;</span></span></a>
        </li>
        <li data-th-each="pageNum : ${page.pageNumbers}"  data-th-class="${pageNum < 1} ? 'page-item disabled' : (${page.currentPage == pageNum}? 'page-item active' : 'page-item')">
            <a class="page-link" data-th-href="|${page.path}.html/${pageNum}|" data-th-text="${pageNum < 1} ? '...' : ${pageNum}"></a>
        </li>
        <li data-th-class="${page.next}? 'page-item' : 'page-item disabled'">
            <a class="page-link" data-th-href="|${page.path}.html/${page.currentPage+1}|"><span aria-label="Next"><span aria-hidden="true">&raquo;</span></span></a>
        </li>
    </ul>
</nav>
</body>
</html>
