---
new_page_extension: md
auto_deploy: false
admin_path: ''
webhook_url: 
sections:
- type: directory
  path: content/wildlife
  label: All About Wildlife
  create: all
  match: "**/list/*"
  new_doc_ext: ".json"
- type: directory
  path: content/kids
  label: Kids Corner
  create: all
  match: "**/list/*"
  new_doc_ext: json
- type: directory
  path: content/gardening
  label: Garden Hints & Tips
  create: all
  match: "**/list/*"
  new_doc_ext: json
- type: directory
  path: content/past-issues
  label: Past Issues
  create: all
  match: "**/list/*"
  new_doc_ext: json
- type: directory
  path: content/articles
  label: Articles
  create: all
  match: "**/list/*"
  new_doc_ext: json
- type: directory
  path: content/recipes
  label: Cooks Column
  create: all
  match: "**/list/*"
  new_doc_ext: json
- type: directory
  path: content/firstpeoples
  label: Waranga Dreaming
  create: all
  match: "**/list/*"
  new_doc_ext: json
- type: directory
  path: content/technology
  label: Not a Robot
  create: all
  match: "**/list/*"
  new_doc_ext: json
- type: document
  path: content/index.json
  label: Home Page
- type: document
  path: content/contact.json
  label: Contact Us
- type: document
  path: content/subscribe.json
  label: Subscriptions
- type: document
  path: content/advertising.json
  label: Advertising
- type: directory
  path: content/directory
  label: Trades & Services
  create: all
  match: "**/list/*"
  new_doc_ext: json
- type: directory
  path: content/advertisements
  label: Advertisments
  create: all
  match: "**/list/*"
  new_doc_ext: json
upload_dir: wnews
public_path: https://s3-ap-southeast-2.amazonaws.com/wp-media-lib/wnews
front_matter_path: ''
use_front_matter_path: 
file_template: 'gallery/:year:/:month:/:filename:'
build:
  preview_output_directory: build/libs
  install_dependencies_command: npm install
  preview_docker_image: micronode/whistlepost
  mount_path: "/opt/sling/bundles/install/50"
  working_dir: "/opt/sling"
  instant_preview_command: "./gradlew build"
