body {
    /*min-height: 2000px;*/
    padding-top: 70px;
    padding-bottom: 20px;
    font-family: 'Droid Serif', serif;
    font-size: 1.6em;
}

.container > .wnews-navbar-header {
    background-image: url("../images/wnews_p5.png");
    background-size: 46px 48px;
    background-repeat: no-repeat;
    margin-left: -10px;
}

.wnews-navbar-brand {
    padding-left: 67px;
}

.wnews-navbar-link-em a {
    color: crimson !important;
}

.wnews-list-nostyle {
    list-style: none;
    padding-left: 0;
}

.wnews-list-ads {
    padding-left: 50;
    padding-right: 100px;
}

.wnews-list-ads h4 {
    padding-left: 10;
}

.wnews-list-ads img {
    padding: 10;
}

.wnews-list-media {
    padding: 20px;
}

.wnews-banner img {
    max-width:100%;
    height:auto;
}

.block-list img {
    max-width:100%;
    height:auto;
}

.full-page img {
    width:100%;
    height:auto;
}

.wnews-article img {
    float: right;
    width: 50%;
    height: auto;
    max-width:400px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.wnews-article .sidebar {
    clear: right;
    float: right;
    width: 48%;
    height: auto;
    max-width:400px;
    padding-left: 15px;
    padding-bottom: 15px;
    border: 1px solid black;
    background: gray;
    font-size: 0.9em;
}

.article-link:hover {
    background-color: #efefef;
}

.article-link span.link {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;

  /* fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  /*background-image: url('empty.gif');*/
}

.feature-article h3 {
    margin-top: 10px;
}

.feature-article .first-word {
    font-family: garamond serif;
    font-size: 1.5em;
}

.date-published {
    font-size: 0.8em;
    color: silver;
}

a.page-section {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;
}

.block-title {
    font-family: verdana, sans-serif;
    font-weight: bold;
}

footer {
    text-align: center;
}

hr.separator {
    border-top: 1px solid black;
    width: 75%;
    margin-bottom: 10px;
    margin-top: 20px;
}
