body {
    /*min-height: 2000px;*/
    padding-top: 70px;
    padding-bottom: 20px;
}

.wnews-navbar-header {
    background-image: url("../images/wnews_p5.png");
    background-size: 42px 42px;
    background-repeat: no-repeat;
}

.wnews-navbar-brand {
    padding-left: 65px;
}

.wnews-navbar-link-em a {
    color: crimson !important;
}

.wnews-list-nostyle {
    list-style: none;
    padding-left: 0;
}

.wnews-list-ads {
    padding-left: 50;
}

.wnews-list-ads h4 {
    padding-left: 10;
}

.wnews-list-ads img {
    padding: 10;
}

.wnews-list-media {
    padding: 20px;
}

.wnews-banner img {
    max-width:100%;
    height:auto;
}

.block-list img {
    max-width:100%;
    height:auto;
}

.wnews-article img {
    float: right;
    width: 40%;
    height: auto;
    max-width:400px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.feature-article h3 {
    margin-top: 10px;
}

.feature-article img {
    width: 25%;
}

.wnews-preview {
    width: 25%;
}

.feature-article .first-word {
    font-family: garamond serif;
    font-size: 1.5em;
}

.date-published {
    font-size: 0.8em;
    color: silver;
}

a.page-section {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;
}

footer {
    text-align: center;
}
