<!DOCTYPE html>
<html>
<head>
</head>
<body>

<section data-th-fragment="latest(feature)" data-th-with="latest=${resolver.resolve('/content/wnews/articles/current').adaptTo(@org.mnode.whistlepost.page.SortedArticles@class)}">
    <div class="wp-layout dynamic">
        <th:block data-th-each="article : ${latest.sortedPage}">
            <th:block data-th-if="${#strings.contains(feature, article.resource.name)}">
                <div data-th-replace="/apps/wnews/page/fragments/article.html::feature(${article})">
                </div>
            </th:block>
        </th:block>
    </div>

    <div data-th-replace="/apps/wnews/page/fragments/advertisement.html::banner-panel">
    </div>

    <div class="wp-layout dynamic">
        <th:block data-th-each="article : ${latest.sortedPage}">
            <th:block data-th-if="${article.resource.name} != ${feature}">
                <div data-th-replace="/apps/wnews/page/fragments/article.html::feature(${article})">
                </div>
            </th:block>
        </th:block>
    </div>
</section>

<section data-th-fragment="list(articles)">
    <div class="wp-layout dynamic">
        <th:block data-th-each="article : ${articles}">
            <div data-th-replace="/apps/wnews/page/fragments/article.html::summary(${article})">
            </div>
        </th:block>
    </div>

    <nav data-th-replace="/apps/wnews/page/fragments/pagination.html::pagination-nav">
    </nav>
</section>

<article class="feature-article article-link wnews-article" data-th-fragment="feature(article)">
    <h1 data-th-text="${article.metadata.title}">[TITLE]</h1>
    <p class="date-published" data-th-text="${article.metadata.publishedDate}">[DATE]</p>

    <div data-th-if="${not #strings.isEmpty(article.metadata.image)}">
        <img data-th-src="${article.metadata.image}" data-th-alt="|${article.metadata.title} image|"/>
    </div>

<!--    <div data-th-each="par : ${article.valueMap['pars']}">-->
<!--        <p data-th-text="${par}">Lorem ipsum</p>-->
<!--    </div>-->
    <p data-th-text="${article.abstract}">[SUMMARY]</p>
    <a data-th-href="|${article.resource.path}.html|"><span class="link"></span></a>
</article>

<article class="article-link wnews-article" data-th-fragment="summary(article)">
    <h1 data-th-text="${article.metadata.title}">[TITLE]</h1>
    <p class="date-published" data-th-text="${article.metadata.publishedDate}">[DATE]</p>
    <div data-th-if="${not #strings.isEmpty(article.metadata.image)}">
        <img data-th-src="${article.metadata.image}" data-th-alt="|${article.metadata.title} image|"/>
    </div>
    <p data-th-text="${article.abstract}">[ABSTRACT]</p>
    <a data-th-href="|${article.resource.path}.html|"><span class="link"></span></a>
</article>

<article class="wnews-article" data-th-fragment="full(article)">
    <h1 data-th-text="${article.metadata.title}">Full Article</h1>
    <p class="date-published" data-th-text="${article.metadata.publishedDate}">1970-01-01</p>
    <div data-th-replace="/apps/wnews/page/fragments/social.html::twitter(${article})">
    </div>
    <div data-th-replace="/apps/wnews/page/fragments/social.html::facebook(${article})">
    </div>
    <div data-th-replace="/apps/wnews/page/fragments/social.html::email(${article})">
    </div>

    <div data-th-if="${not #strings.isEmpty(article.metadata.image)}">
        <img class="shadow" data-th-src="${article.metadata.image}" data-th-alt="|${article.metadata.title} image|"/>
    </div>

    <th:block data-th-if="${article.sidebar}">
        <div data-th-replace="/apps/wnews/page/fragments/article.html::sidebar(${article.sidebar})">
        </div>
    </th:block>

<!--    <th:block data-th-each="par : ${article.body.editor.pars}">-->
<!--        <p data-th-utext="${par}">[BODY]</p>-->
<!--    </th:block>-->

    <div data-th-utext="${article.body.rendered}">
    </div>

    <div data-th-each="section : ${resource.valueMap['sections']}">
        <a data-th-name="${section.valueMap['name']}" class="page-section"></a>
        <h4 data-th-text="${section.valueMap['tile']}">Section 1</h4>
        <th:block data-th-each="par : ${section.valueMap['pars']}">
            <p data-th-utext="${par}">Lorem ipsum</p>
        </th:block>
    </div>

    <div data-th-replace="/apps/wnews/page/fragments/article.html::related(${article})">
    </div>

<!--    <th:block data-th-if="${article.advert}">-->
<!--        <div data-th-replace="/apps/wnews/page/fragments/advertisement.html::inline(${article.advert})">-->
<!--        </div>-->
<!--    </th:block>-->

    <a data-th-href="|${resource.path}.html|"><span class="link"></span></a>
</article>

<div data-th-fragment="related(article)">
    <th:block data-th-if="${article.related} and not ${article.related.empty}">
        <h4>Related Articles:</h4>
        <ul>
            <li data-th-each="related : ${article.related}">
                <a data-th-if="${related.page}" data-th-href="|${related.page.resource.path}.html|"><span data-th-utext="${related.page.metadata.title}">[ARTICLE]</span></a>
            </li>
        </ul>
    </th:block>
</div>

<article class="wnews-article sidebar" data-th-fragment="sidebar(article)">
    <h4 data-th-text="${article.metadata.title}">[TITLE]</h4>
    <th:block data-th-each="par : ${article.body.editor.pars}">
        <p data-th-utext="${par}">[BODY]</p>
    </th:block>
</article>

<div data-th-fragment="links(articles)">
    <ul class="list-unstyled">
        <th:block data-th-each="article : ${articles}">
            <li style="margin-bottom: 5px">
                <div data-th-replace="/apps/wnews/page/fragments/article.html::link(${article})">
                </div>
            </li>
        </th:block>
    </ul>
</div>

<article data-th-fragment="link(article)">
    <a data-th-href="|${article.resource.path}.html|"><span data-th-utext="${article.metadata.title}">[ARTICLE]</span></a>
</article>

</body>
</html>
