<!DOCTYPE html>
<html>
<head>
</head>
<body>

<nav data-th-fragment="footer-nav">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="/content/wnews/advertising.html">Advertise</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/content/wnews/subscribe.html">Subscribe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/content/wnews/contact.html">Contact Us</a>
        </li>
    </ul>
</nav>

<footer data-th-fragment="footer-panel">

    <nav data-th-replace="/apps/wnews/page/fragments/footer.html::footer-nav">
    </nav>

    <!-- Bottom banner -->
<!--    <div class="container">-->
<!--        <a href="<%= currentNode.href %>" title="<%= currentNode.title %>">-->
<!--            <span class="wnews-banner">-->
<!--                <img src="/content/wnews/media/s3./wnews/waranga_tourism.png" alt="Waranga Tourism image"/>-->
<!--            </span>-->
<!--        </a>-->
<!--    </div>-->

    <hr style="text-align: center; width: 70%">

    <p>
        Created with
        <a href="http://whistlepost.org" target="_blank">Whistlepost</a> | &copy;
        <span data-th-text="${resolver.resolve('/content/wnews/footer').valueMap['copyright']}">[Placeholder]</span>
    </p>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/wnews/js/wnews.bundle.js"></script>
    <script src="/libs/wp-rss/js/tooltip.js"></script>
     <th:block data-sling-include="${resolver.resolve('/content/wnews/analytics.google.html')}"/>
</footer>

</body>
</html>
