<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/html">
<head data-th-fragment="default" data-th-with="meta=${resource.adaptTo(@org.mnode.whistlepost.model.api.Metadata@class)}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <th:block data-th-if="${page.class.name == 'org.mnode.whistlepost.model.api.Article'}">
        <meta name="description" data-th-content="${meta.description}">
        <!-- Opengraph -->
        <meta property="og:url" data-th-content="|https://www.wnews.org.au${resolver.map(request, resource.path)}.html|" />
        <meta property="og:title" data-th-content="|Waranga News - ${meta.title}|" />
        <meta property="og:type" content="article" />
        <th:block data-th-if="${not #strings.isEmpty(page.media)}">
<!--            <meta property="og:image" data-th-content="|http://www.wnews.org.au/media/${page.media}|"/>-->
            <meta property="og:image:secure_url" data-th-content="|https://www.wnews.org.au/media/${page.media}|"/>
        </th:block>

<!--        <th:block data-th-if="${page.permalink != ''}">-->
<!--            <link rel="bookmark" data-th-href="${page.permalink}">-->
<!--        </th:block>-->
    </th:block>
    <th:block data-th-unless="${page.class.name == 'org.mnode.whistlepost.model.api.Article'}">
        <meta name="description" data-th-content="${meta.description}">
    </th:block>
    
    <meta name="author" content="Waranga News Inc.">

    <link rel="icon" href="/assets/wnews/favicon.ico">

    <title data-th-text="|Waranga News - ${meta.title}|">[TITLE]</title>

    <!-- Custom styles for this template -->
    <link href="/assets/wp/css/layout.css" rel="stylesheet">
    <link href="/assets/wnews/css/wnews.bundle.css" rel="stylesheet">
    <link href="/assets/wnews/css/fonts.css" rel="stylesheet">

    <!-- Sling -->
    <!--<script src="/system/sling.js"></script>-->

    <meta name="google-site-verification" content="0KyoGaEg8FoAK7HtzKQmmqItsZlMTfRKRAf_eulikik" />
    <meta name="msvalidate.01" content="4406165B817075A0C8D268161EAD9D8F" />
</head>
<body>
</body>
</html>