<!DOCTYPE html>
<html>
<head>
</head>
<body>

<nav data-th-fragment="navbar" class="navbar navbar-expand-md navbar-light sticky-top" id="wnews-top-nav" style="background-color: #ffffff;">
    <a class="navbar-brand" href="/content/wnews/index.html">
        <img src="/assets/wnews/images/217ed171a7f817350b356d44d1ee757e.png" height="40px">
    </a>

<!--    <th:block data-th-if="${page.bannerImage != null}">-->
<!--        <a data-th-href="${page.bannerUrl}" class="d-md-none d-lg-none d-xl-none">-->
<!--            <img data-th-src="${page.bannerImage}" height="40px">-->
<!--        </a>-->
<!--    </th:block>-->
<!--    <th:block data-th-unless="${page.bannerImage != null}">-->
        <a href="/content/wnews/subscribe.html" class="d-md-none d-lg-none d-xl-none">
            <img src="/assets/wnews/images/subscribe.png" height="40px">
        </a>
<!--    </th:block>-->

    <!--
    <form class="form-inline d-md-none d-lg-none d-xl-none">
        <input size="15" class="form-control" type="search" placeholder="Search" aria-label="Search"  data-toggle="collapse" style="font-size:0.8em;">
        <button class="btn btn-outline-primary btn-sm mx-1" type="submit">
            <span class="fa fa-search" style="font-size:1.2em;"></span>
        </button>
    </form>
    -->
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div data-th-replace="/apps/wnews/page/fragments/navigation.html::menu2"></div>
</nav>

<div data-th-fragment="menu" id="navbar" class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= request.requestPathInfo.suffix == '/wildlife' ? 'active' : '' %>">
            <a class="nav-link" href="/content/wnews/wildlife.html">All About Wildlife</a>
        </li>
        <li class="nav-item <%= request.requestPathInfo.suffix == '/recipes' ? 'active' : '' %>">
            <a class="nav-link" href="/content/wnews/recipes.html">Cooks Column</a>
        </li>
        <li class="nav-item <%= request.requestPathInfo.suffix == '/gardening' ? 'active' : '' %>">
            <a class="nav-link" href="/content/wnews/gardening.html">Garden Hints &amp; Tips</a>
        </li>
        <li class="nav-item <%= request.requestPathInfo.suffix == '/technology' ? 'active' : '' %>">
            <a class="nav-link" href="/content/wnews/technology.html">Not A Robot</a>
        </li>
        <li class="nav-item <%= request.requestPathInfo.suffix == '/kids' ? 'active' : '' %>">
            <a class="nav-link" href="/content/wnews/kids.html">Kids Corner</a>
        </li>
        <li class="nav-item <%= request.requestPathInfo.suffix == '/firstpeoples' ? 'active' : '' %>">
            <a class="nav-link" href="/content/wnews/firstpeoples.html">Waranga Dreaming</a>
        </li>
        <li class="nav-item wnews-navbar-link-em dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li class="dropdown-item"><a href="/content/wnews/past-issues.html">Past Issues</a></li>
                <li class="dropdown-item"><a href="/content/wnews/events.html">Community Events</a></li>
                <li class="dropdown-item"><a href="/content/wnews/directory.html">Trades &amp; Services</a></li>
                <li class="dropdown-item"><a href="/content/wnews/classifieds.html">Local Classifieds</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-item"><a href="/content/wnews/about.html">About Us</a></li>
                <li class="dropdown-item">
                    <a href="https://twitter.com/WarangaNews" target="_blank" title="Follow us on Twitter"><span class="fa fa-twitter" style="font-size:1.2em; padding: 10px;"></span></a>
                    <a href="https://facebook.com/WarangaNews" target="_blank" title="Connect with us on Facebook"><span class="fa fa-facebook-square" style="font-size:1.2em; padding: 10px;"></span></a>
                    <a href="https://www.flickr.com/photos/waranganews/" target="_blank" title="Check out our Flickr Photostream"><span class="fa fa-flickr" style="font-size:1.2em; padding: 10px;"></span></a>
                </li>
            </ul>
        </li>
        <!--            <li class="nav-item <%= request.requestPathInfo.suffix == '/about' ? 'active' : '' %>">-->
        <!--                <a class="nav-link" href="/content/wnews/about.html">About</a>-->
        <!--            </li>-->
        <!--            <li class="nav-item <%= request.requestPathInfo.suffix == '/contact' ? 'active' : '' %>">-->
        <!--                <a class="nav-link" href="/content/wnews/contact.html">Contact</a>-->
        <!--            </li>-->
        <!--            <li class="nav-item wnews-navbar-link-em dropdown">-->
        <!--                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Advertising <span class="caret"></span></a>-->
        <!--                <ul class="dropdown-menu">-->
        <!--                    <li><a href="/content/wnews/contact.html#classifieds">Classifieds</a></li>-->
        <!--                    <li><a href="/content/wnews/contact.html#flyers">Flyers</a></li>-->
        <!--                    <li role="separator" class="divider"></li>-->
        <!--                    <li class="dropdown-header">Display Advertising</li>-->
        <!--                    <li><a href="/content/wnews/contact.html#black_white">Black &amp; White</a></li>-->
        <!--                    <li><a href="/content/wnews/contact.html#colour">Full Colour</a></li>-->
        <!--                </ul>-->
        <!--            </li>-->
    </ul>
    <ul class="navbar-nav">
        <li>
            <div data-th-replace="/apps/wnews/page/fragments/weather.html::header"></div>
        </li>
        <!--            <li>-->
        <!--                <a class="nav-link" href="https://twitter.com/WarangaNews" target="_blank" title="Follow us on Twitter"><span class="fa fa-twitter" style="font-size:1.2em;"></span></a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--                <a class="nav-link" href="https://facebook.com/WarangaNews" target="_blank" title="Connect with us on Facebook"><span class="fa fa-facebook-square" style="font-size:1.2em;"></span></a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--                <a class="nav-link" href="https://www.flickr.com/photos/waranganews/" target="_blank" title="Check out our Flickr Photostream"><span class="fa fa-flickr" style="font-size:1.2em;"></span></a>-->
        <!--            </li>-->
    </ul>
</div>

<div data-th-fragment="menu2" id="navbar" class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/content/wnews/past-issues.html">Past Issues</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/content/wnews/subscribe.html">Subscriptions</a>
        </li>
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="/content/wnews/events.html">Community Events</a>-->
<!--        </li>-->
        <li class="nav-item">
            <a class="nav-link" href="/content/wnews/directory.html">Trades &amp; Services</a>
        </li>
        <!--
        <li class="nav-item">
            <a class="nav-link" href="/content/wnews/classifieds.html">Local Classifieds</a>
        </li>
        -->
        <li class="nav-item">
            <a class="nav-link" href="/content/wnews/about.html">About Us</a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li>
            <div data-th-replace="/apps/wnews/page/fragments/weather.html::header"></div>
        </li>
        <!--            <li>-->
        <!--                <a class="nav-link" href="https://twitter.com/WarangaNews" target="_blank" title="Follow us on Twitter"><span class="fa fa-twitter" style="font-size:1.2em;"></span></a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--                <a class="nav-link" href="https://facebook.com/WarangaNews" target="_blank" title="Connect with us on Facebook"><span class="fa fa-facebook-square" style="font-size:1.2em;"></span></a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--                <a class="nav-link" href="https://www.flickr.com/photos/waranganews/" target="_blank" title="Check out our Flickr Photostream"><span class="fa fa-flickr" style="font-size:1.2em;"></span></a>-->
        <!--            </li>-->
    </ul>
</div>

</body>
</html>