<!DOCTYPE html>
<html>
<head>
</head>
<body>

<span data-th-fragment="twitter(article)">
    <a class="btn" href="#" data-sharer="twitter"
            data-th-data-title="${article.metadata.title}"
            data-th-data-url="|https://www.wnews.org.au${resolver.map(request, article.resource.path)}.html|"
            data-via="WNewsorg" title="Share on Twitter">
        <i class="fa fa-twitter"></i>
    </a>
</span>

<span data-th-fragment="facebook(article)">
    <a class="btn" href="#" data-sharer="facebook"
            data-th-data-url="|https://www.wnews.org.au${resolver.map(request, article.resource.path)}.html|"
            title="Share on Facebook">
        <i class="fa fa-facebook"></i>
    </a>
</span>

<span data-th-fragment="email(article)">
    <a class="btn" href="#" data-sharer="email"
       data-th-data-title="${article.metadata.title}"
       data-th-data-url="|https://www.wnews.org.au${resolver.map(request, article.resource.path)}.html|"
       data-subject="Here is an article you may be interested in.." title="Share via Email">
        <i class="fa fa-envelope"></i>
    </a>
</span>

</body>
</html>
